/*Déplacer la fenêtre*/
body {
    -webkit-app-region: drag;
    border: solid 1px #375a7f;
    min-height: 100vh;
    height: 100%;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar.navigPagesHistory{
    height: 10px;
    top: 70px;
    padding-bottom: 0px;
}

#corps{
  padding-top: 110px;
}

nav{
     display: flex !important;
     flex-direction: row !important;
     justify-content: left !important;
 }

.alert{
    margin: 5%;
    display: none;
}

.line{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.card{
    margin: 3%;
}

#gestIcons{
    position: fixed;
    right: 8px;
    color: #FFF;
}

#exitBtn{
    margin-top: 3px!important;
}

#exitBtn:hover, #moveBtn:hover{
    cursor: pointer;
}

.inputClick{
    -webkit-app-region: no-drag;
    cursor: text;
}

.btnClick{
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.lineClick{
    -webkit-app-region: no-drag;
    cursor: pointer;
}
.lineClick:hover{
    color: #5286bd;
}

.titlePage{
    margin: 5px;
}

button{
    background: transparent !important;
}

button:hover{
    background: rgba(103, 103, 103, 0.26) !important;
}

#addList, #clearLists{
  display: none;
}

/******ADD LIST STYLE******/

#formAddList,#formEditList, #formDelList{
    padding-left: 5%;
    padding-right: 5%;
}
/*
#inputAddList{
    width: 70%;
}
#AddListBtn{
  margin-left: 5%;
  width: 30%;
}*/

/******COLORED ICONS hover****/
#addList:hover{
    fill: #00efb2 !important;
}

#clearLists:hover {
    fill: grey;
}

#exitBtn:hover{
    fill: red;
}

/*******Conteneur responsive pour les categories****/
.container_categories{
    width: 100%;
    padding: 10px;
    /*overflow: hidden;
    margin: auto;
    padding: 20px;*/

}

/* Grid styles -------------------------------------------------*/
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-gap: 30px;
}

.container-cards {
    /*max-width: 960px;*/
    margin: 0 auto 30px;
}

.container-card {
    position: relative;
    margin: auto;
}

.categorie_card {
    min-height: 250px;
    width: 250px;
    border: solid 1px #375a7f;
}
.card-body-custom{
    padding: 0px !important;
}

.alimentLine{
    border: solid 1px #375a7f;
    padding: 10px;
}




/***TOOLTIP : Image accueil****/
.tipText{
    margin: 2px;
}

button.tip:hover {
    cursor: pointer;
    position: relative;
}

button.tip span {
    display: none;
    z-index: 9999;
}

button.tip:hover span {
    border: #c0c0c0 1px dotted;
    display: block;
    z-index: 9999999;
    background: #375a7f;
    left: -97px;
    margin: 10px;
    width: 80px;
    position: absolute;
    top: -5px;
    border-radius: 10px;
}
